@font-face {
  font-family: "Plex";
  font-style: normal;
  font-weight: 300;
  src: url("./IBMPlexMono-Regular.woff2") format("woff2"),
       url("./IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Plex";
  font-style: normal;
  font-weight: 600;
  src: url("./IBMPlexMono-Bold.woff") format("woff2"),
       url("./IBMPlexMono-Bold.woff2") format("woff");
}

/* *{outline: solid 1px rgba(255,0,0,0.25)} */

body {
  margin: 0;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Plex';
  color: lightgrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 32, 36);
}

h1, h2, h3 {
  color:rgb(0, 238, 255)
}



p {font-size: 18px;}

.Pair {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.Half {
  width:400px;
  padding: 1vw;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 32, 36);
}


@media (max-width: 720px) {
  .Pair {
    display: flex;
    flex-direction: column;
  } 
  .Half {
    width:100%;
    padding: 0vw;
  }
  /* otherwise the text will go outside mobile screen */
  .container { 
    display: block;
  }
} 




img, canvas {
  width:100%;
}


button {
  background: black;
  color: rgb(0, 238, 255);
  text-align: center;
  vertical-align: middle;
  padding: 1vh;
  border: none;
  font-size: 16px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

button:hover {color:#F6F1EA;}


.App {
  background-color: rgb(29, 32, 36);
}

.Description {font-size: 16px}

a {
  color: rgb(136, 136, 255);
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;}
b {color: white;}

